---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Open Sans', sans-serif;

$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.928;
$large-font-size:  $base-font-size * 1.857;
$base-line-height: 2.0;

$twitter-color: #55acee;
$facebook-color: #3b5998;
$google-color:#dd4b39;
$hackerearth-color: #323754;
$codechef-color:#8a7967;
$github-color:#999999;
$linkedin-color:#0976b4;

$spacing-unit:     30px;

$background-color: #e6e6e6;
$foreground-color: #fff;
$brand-color:      #111;

$grey-color:       #888;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);

$text-color:  #444;
$text-color-heading:  #515151;
$text-color-light: #6a6a6a;
$text-color-dark: #444;
$text-color-link: #21759b;

$footer-back-color: #111;
$header-back-color: #111;
$sidebar-back-color: #111;

$btn-green-color : #5CB85C;
$btn-blue-color: #3b83c0;


body{
    background-color: $background-color;
    font-family: $base-font-family;
    color:$text-color;
    font-size: $base-font-size;
    .container{
      background-color: $foreground-color;
    }
}
#page{
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  padding: 0 2.857142857rem;
}
.heading{
  font-weight: bold;
  color:$text-color-heading;
  font-size: $large-font-size;
}
.small{
    font-size: $small-font-size;
}
.main-heading{
  margin-top:10px;
  margin-bottom:10px;
}
a{
  color:$text-color-link;
  &:hover{
    color:darken($text-color-link,20%);
  }
  .heading{
    color:$text-color;
    &:hover{
      color:$text-color-link;
    }
  }
}
.menu-container{
  margin-top:4rem;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.main-menu{
  list-style: none;
  display: flex;
  margin: 0;
  .menu-item{
    padding-top:10px;
    padding-bottom:10px;
    float: left;
    vertical-align: middle;
    margin-right:20px;
    text-transform: uppercase;
    a{
      color:$text-color-light;
      text-decoration: none;
      &:hover{
        color:$text-color-dark;
      }
    }
    .active{
      color:$text-color-dark;
      font-weight: bold;
    }
  }
}
.main-menu-vertical{
  display: block;
  .menu-item{
    float: none;
    a{

      &:hover{

      }
    }
    .active{

    }
  }
}
@media screen and (max-width: 768px) {
  .menu-container{
    margin-top:4rem;
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
  }
  .main-heading{
    text-align: center;
  }
  #page{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 769px){
  .main-menu-vertical{
    display: none;
  }
}
.share-content{
  border-top:1px solid #dedede;
  padding-top: 10px;
  margin-top:20px;
}
.share{
  padding:5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: lighten(#ccc,12%);
  // color: darken(#ccc,1%)
}
.site-footer{
  border-top:1px solid #dedede;
  padding-top: 10px;
  margin-top:20px;
  padding-bottom: 10px;
  font-size: 0.8em;
}
// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
/*
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@font-face {
    font-family: BiloxiScript;
    src: url(../assets/fonts/BiloxiScript.ttf);
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

#owner-image{
	border: 4px solid white;
	border-radius:50%;
	float: right;
	opacity: 0.7;
	margin:5px;
	transition: all 1s;

	@include media-query($on-palm){
		float: none;
	}
	&:hover{
		opacity: 1.0;

	}

}
.sidebar{
	float:right;
	background-color:$sidebar-back-color;
	color:$text-color-light;
	margin:0px 10px 0px 10px;
	width: 250px;
	border-radius:0px 0px 10% 10%;
	font-size:$sidebar-font-size;
	.category{
		font-size:$large-sidebar-font-size;
	}
	li{
		list-style:none;
	}
	ul{
		margin-left:10px;
	}
	.date{
		font-size:$small-sidebar-font-size;
		text-align:right;
	}
	@include media-query($on-palm) {
		display:none;
	}
	a{
		color:$text-color-light;
		text-decoration:none;
	}
}
.mobile-sidebar{
	display:none;
	background-color:$sidebar-back-color;
	color:$text-color-light;
	font-size:$sidebar-font-size;
	@include media-query($on-palm) {
		display:block;
	}
	.category{
		font-size:$large-sidebar-font-size;
	}
	.mobile-sidebar-head{
		font-size:$large-font-size;
	}
	.date{
		font-size:$small-sidebar-font-size;
		text-align:center;
	}
	li{
		list-style:none;
	}
	ul{
		margin-left:0px;
	}
	a{

		text-decoration:none;
	}
}
.page-content{
	@include media-query($on-palm) {
		text-align:center;
		padding-bottom:0px;
	}
}
.tag-list{
	text-align:left;
	font-size:$small-font-size;
	color:lighten($text-color, 40%);
}
.title-line{
	font-style:normal;
	font-size:$base-font-size;
}
.project-image{
	float:left;
}
.ad{
	margin-bottom:10px;
	margin-top:0px;
	border:1px solid black;
}
.adp{
	font-size:$small-font-size;
	text-align:left;
	margin-bottom:0px;
}
ul{
	@include media-query($on-palm) {
		list-style:none;
	}
}
.archive-list{
	list-style:none;
}
.archive-divider{
	border-top: dotted 1px;
	border-bottom:0px;
}
.inline{
	display:inline;
}
.main-div{
	position:relative;
	display:block;
	float:left;
	width:30%;
	text-align:center;
	@include media-query($on-palm){
		float:none;
		text-align:center;
		width:auto;
	}
}

.main-home{
	display:table;
	margin:5px 10px 5px 10px;
	text-align:center;
	h1{
		font-family: BiloxiScript;
		font-weight:bold;
	}
	a{
	 &:hover{
		border:none
		}
	}
	@extend %clearfix;
}
.main-div1,.main-div2,.main-div3{

	a{
		border:none;

	}
	transition: all 0.5s ease;
}
.main-div1{
	&:hover{
		color:#49c171;
		a{
			color:#49c171;

		}
	}
}
.main-div2{

	&:hover{
		color:#ef4d4d;
		a{
		color:#ef4d4d;
		}
	}
}

.main-div3{

	&:hover{
		color:#2cbee2;
		a{
			color:#2cbee2;
		}
	}
}

//sharing
.share{
	border:none;
	&:hover{
		border:none;
	}
}

.share-twitter{
	&:hover{
		color:$twitter-color;

	}
}

.share-facebook{
	&:hover{
		color:$facebook-color;
	}
}

.share-google{
	&:hover{
		color:$google-color;
	}
}

.share-linkedin{
	&:hover{
		color:$linkedin-color;
	}
}
.share-hackerearth{
	&:hover{
		color:$hackerearth-color;
	}
}
.share-codechef{
	&:hover{
		color:$codechef-color;
	}
}
.share-github{
	&:hover{
		color:$github-color;
	}
}

//error page

.error-page{
	text-align:center;
}

// ribbon

.resume{
	display:block;
	position: fixed;
	transition: all 2s;
	right: 0;
	bottom: 100px;
	color:#FFFFFF;
	z-index:12;
	a{
	&:hover{
		color:white;
	}
	}
}
.ribbon-content{
	padding:10px;
	background-image:url("/assets/images/ribbon-content.png");
	background-size: 100% auto;

}
.ribbon-start{
	padding:10px 0 10px 10px;
	height:100%;
	background-image:url("/assets/images/ribbon-start.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
}

.ribbon-end{
	padding:10px 0;
	background-image:url("/assets/images/ribbon-end.png");
	background-size: 100% auto;
	i{
		padding:10px;
	}
}

//button
.btn{
	border-radius:4px;
	color:white;
	&:hover{
		color:white;
	}
}
.btn-small{
	padding:5px;
}
.btn-big{
	padding:10px;
}
.btn-more{
	background-color: $btn-green-color;
	border:1px solid $btn-green-color;
	&:hover{
		background-color:lighten($btn-green-color,10%);
		border-color:lighten($btn-green-color,10%);
	}
}
.btn-archive{
	background-color:$btn-blue-color;
	border:1px solid $btn-blue-color;
	&:hover{
		background-color:lighten($btn-blue-color,10%);
		border-color:lighten($btn-blue-color,10%);
	}
}


//next previous post
.post-np-div{
	overflow: hidden;
	a{
		&:hover{

			color:$btn-blue-color;
			border:none;

		}

	}
}
.post-np{
	border:none;
	padding:11px 0 11px 0;
	transition: all 0.5s;
	font-size:17px;
}
.next{
	float:right;
}
.previous{
	float:left;
}


.skill-icon{
	display:block;

}
.skill-div{
	position:relative;
	float:left;
	margin:5px 0px 5px 0px;
	text-align:center;
	width:20%;
	@include media-query($on-palm){
		float:none;
		display:inline;

	}
}

.skill-mdiv{
	overflow:hidden;
	text-align:center;
	@include media-query($on-palm){
		margin:auto;
	}
}
*/
