---
layout: page
title: Portfolio
permalink: /portfolio/
order: 1
---
<section class="android">
  <div class="header android">
    <h3>Android Apps</h3>
  </div>
  <div class="container-fluid app">
    <div class="row row-cols-12 row-cols-md-3">
      {% for app in site.data.android_projects %}
      <div class="col mb-4">
        <div class="card bg-light" style="height:100%;">
          <div class="card-body">
            {% if app.icon %}
            <div class="centered">
              <img src="{{app.icon}}" height="144px" title="{{app.name}}" class="project-image " />
            </div>
            {% endif %}
            <h4 class="card-title">{{app.name}} </h4>
            <p class="card-text">{{app.intro}}</p>

            {% if app.skills %}
            <small>Tags:</small> {% for skill in app.skills %}
            <span class="badge badge-dark">{{skill}}</span> {% endfor %} {% endif %}

          </div>
          <div class="card-footer text-right">
            <small class="text-muted">
              {% if app.play_store_link %}
              <a href="{{app.play_store_link}}">
                <img height="30px" alt="Get it on Google Play"
                  src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
              </a>
              {% endif %}
              {% if app.repo %}
              <a href="{{app.repo}}" alt="Github repo for {{app.name}}" title="Github repo for {{app.name}}"
                class="mr-2">
                <img src="/assets/images/github.png" alt="github" />
              </a>
              {% else %}
              Not published
              {% endif %}
            </small>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="web">
  <div class="header web">
    <h3>Websites &amp; Web Apps</h3>
  </div>
  <div class="row row-cols-12 row-cols-md-3">
    {% for app in site.data.web_projects %}
    <div class="col mb-4">
      <div class="card bg-light" style="height:100%;">
        <div class="card-body">
          {% if app.icon %}
          <div class="centered">
            <img src="{{app.icon}}" height="144px" title="{{app.name}}" class="project-image " />
          </div>
          {% endif %}
          <h4 class="card-title">{{app.name}} <small>{{app.date}}</small></h4>
          <p class="card-text">{{app.description}}</p>
        </div>
        <div class="card-footer text-right">
          <small class="text-muted">
            {% if app.demo_link %}
            <a href="{{app.demo_link}}">
              Check Demo
            </a>
            {%else %}
            Not published
            {% endif %}
          </small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>