---
layout: page
title: Portfolio
permalink: /portfolio/
order: 1
---
<section class="android">
  <div class="header android">
    <h3>Android Apps</h3>
  </div>
  {% for app in site.data.android_projects %}
        <div class="container-fluid app">
            <div class="row">
                <div class="centered">
                    <h3>{{app.name}} <small>{{app.date}}</small></h3>                
                </div>
            </div>
            <div class="col-sm-3 centered">
            {% if app.icon %}
              <img src="{{app.icon}}" title="{{app.name}}" class="project-image" />
            {% endif %}
            <p>{{app.intro}}</p>
            {% if app.repo %}
                <a href="{{app.repo}}" alt="Github repo for {{app.name}}" title="Github repo for {{app.name}}"><img src="/assets/images/github.png" alt="github"/></a>
            {% endif %}
            {% if app.play_store_link %}
                <br/>
                <br/>
                <a href="{{app.play_store_link}}"> <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" /> </a>
            {% endif %}
            </div>
          <div class="col-sm-6">
            
            <p>{{app.description}}</p>
            <h4>Main Features</h4>
                <ul>
                  {% for point in app.key_points %}
                    <li>{{point}}</li>
                  {% endfor %}
                </ul>
                {% if app.skills %}
                  <h5>Skills</h5>
                  {% for skill in app.skills %}
                    <span class="label label-default">{{skill}}</span>
                  {% endfor %}
                {% endif %}
                
            </div>
            {% if app.screenshots %}
              <div class="col-sm-3 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                <div class="slider">
                    {% for screenshot in app.screenshots %}
                    <div>
                        <div href="#" class="thumbnail"> <img data-lazy="{{site.baseurl}}{{screenshot}}" alt="..."> </div>
                    </div>
                    {% endfor %}
                  </div>
              </div>
            {% endif %}
        </div>
    {% endfor %}
</section>
<hr/>
<section class="web">
  <div class="header web">
    <h3>Websites &amp; Web Apps</h3>
  </div>

  {% for app in site.data.web_projects %}
    <div class="container-fluid web">
        <h4>{{app.name}} <small>{{app.date}}</small></h4>
        <p>{{app.description}}</p>
      </div>
  {% endfor %}
</section>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>
    $(document).ready(function() {
        $('.slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            dots: true,
            infinite: true,
            autoplaySpeed: 2000,
            lazyLoad: 'ondemand'
        });
    });
</script>
