---
layout: resume
title: Resume
permalink: /
order: 2
---
<section id="resume" class="container-fluid">
	<div class="row mt-5">
		<div class="col-sm-5">
			<div class="container-fluid">
				<h3 class="title">// About Me</h3>
				<p>{{site.data.resume.about}}</p>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="container-fluid">
				<div class="centered tm-60">
					<img class="img-responsive img-thumbnail rounded-circle" src="https://avatars3.githubusercontent.com/u/7071946">
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="container-fluid">
				<h3 class="title">// Contact</h3>
				<ul class="contact-list">
					{% for contact in site.data.resume.contact-items %}
					<li class="item">
						<span class="{{contact.icon}} md-teal-500"></span> {% if contact.link %}<a href="{{contact.link}}" alt="{{contact.name}}" title="{{contact.name}}">{{contact.data}}</a>{% else %}{{contact.data}}{% endif %}
					</li>
					{% endfor %}
			 </ul>
	 		</div>
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            <div class="container-fluid">
                <h3 class="title">// Skills</h3>
	            {% if site.data.resume.languages %}
	                <div class="row">
	                    {% for language in site.data.resume.languages %}
	                        <div class="language-item col-sm-4">
	                            <h4>{{language.name}}</h4>
	                            <p>{{language.description}}<p>
	                            {% if language.libs %}
	                                {% for lib in language.libs.list %}
	                                        <!-- <small>{{lib.name}}</small>{% if forloop.last == false %}, {%endif%} -->
											<span class="badge badge-{{lib.type}}" >{% if lib.icon %}<i class="{{lib.icon}}"></i> {% endif %}{{lib.name}}</span>
	                                {%endfor%}
	                            {% endif %}
	                        </div>
	                    {%endfor%}
	                </div>
	            {% endif %}
           </div>
        </div>
	</div>
	<div class="row mt-20">
		<div class="col-sm-8">
			<div class="container-fluid">
				<h3 class="title">// Experience</h3>
				{% for experience in site.data.resume.experience %}
					<div class="experience-item">
						<div class="row">
							<div class="container-fluid">
								<div class="row">
									<div class="col-8">
										<h4>{{experience.role}} <br/>
										<small>{{experience.company}}</small></h4>
									</div>
									<div class="col-4 text-right">
										<h4><small>{{experience.date.join | date: '%b %Y'}} - {{experience.date.leave |default: 'Present' | date: '%b %Y'}}</small></h4>
									</div>
								</div>
								{% if experience.responsibilities %}
									<h5 class="mt-2">Responsibilities</h5>
									<ul class="responsibilities">
										{% for responsibility in experience.responsibilities %}
											<li class="responsibility">{{responsibility}}</li>
										{% endfor %}
									</ul>
								{% endif %}
								{% if experience.achievements %}
									<h5>Achievements</h5>
									<ul class="achievements">
										{% for achievement in experience.achievements %}
											<li class="achievement">{{achievement}}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
            <div class="container-fluid">
                <h3 class="title">// Education</h3>
                {% for education in site.data.resume.education %}
                    <div class="education-item">
                        <div class="row">
                            <div class="col-8">
                                <h4>{{education.name}} <br/><small>{{education.school}}</small></h4>
								<h5>{{education.marks}}</h5>
								<p>{{education.about}}</p>
                            </div>
                            <div class="col-4 text-right">
                                <h4><small>{{education.date}}</small></h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
		</div>
		<div class="col-sm-4">
			<div class="container-fluid">
				<h3 class="title">// Certification</h3>
				{% for certification in site.data.resume.certification %}
					<div class="certificate-item">
						<div class="row">
							<div class="col-8">
								<h5>{{certification.name}} </h5>
								<small>
									{{certification.issuer}} | <a href="{{certification.link}}" title="{{certification.name}}" alt="{{certification.name}}">View Certificate</a>
								</small>
							</div>
							<div class="col-4 text-right">
								<h5><small>{{certification.date}}</small></h5>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
            <div class="container-fluid">
                <h3 class="title">// Achievement</h3>
                {% for achievement in site.data.resume.achievements %}
                    <div class="achievement-item">
                        <div class="row">
                            <div class="col-8">
                                <h5>{{achievement.name}}</h5>
                            </div>
                            <div class="col-4 text-right">
                                <h5><small>{{achievement.date}}</small></h5>
                            </div>
                        </div>
                        <p>{{achievement.description}}</p>
                    </div>
                {% endfor %}
            </div>
		</div>

</div>
</section>
