<div class="main-heading">
  <div class="btn pull-right btn-default btn-sm visible-xs" href="#" id="menu-toggler"><i class="fa fa-bars"></i></div>
  <br/>
  <div class="resume-heading centered">
    <h1 class="heading">{{site.data.resume.name}}</h1>
    <p class="small">{{site.data.resume.role}}</p>
  </div>
  <div class="menu-container">
      <ul class="main-menu hidden-xs">
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for p in sorted_pages %}
          {% if p.title %}
             <li class="menu-item"><a class="{% if page.url == p.url %} active {% endif %}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
        <ul class="main-menu main-menu-vertical">
          {% assign sorted_pages = site.pages | sort:"order" %}
          {% for p in sorted_pages %}
            {% if p.title %}
               <li class="menu-item"><a class="{% if page.url == p.url %} active {% endif %}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
