<div class="share-content">
	<p>
		<b>Share this:</b>
	</p>
<a class="btn btn-default btn-xs share" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via={{ site.twitter_username }}"
   target="_blank">
    <i class="fa fa-twitter"></i> Twitter
    </span>
    </a>

 <a class="btn btn-default btn-xs share" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
   target="_blank">

    <i class="fa fa-facebook"></i> Facebook
    </a>

   <a class="btn btn-default btn-xs share" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
   target="_blank">
     <i class="fa fa-google-plus"></i> Google+
   </a>
</div>
