If you liked this post, you can Share it via <br/>
<a class="share" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via={{ site.twitter_username }}" 
   target="_blank">
   <span class="fa fa-stack fa-2x">
     <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    </a> 
   
 <a class="share" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" 
   target="_blank">
   <span class="fa fa-stack fa-2x">
     <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
    </a> 
   
   <a class="share" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" 
   target="_blank">
   <span class="fa fa-stack fa-2x">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
   </span></a> 
