/**
 * Site header
 */
.site-header {
    min-height: 56px;
	background-color:$header-back-color;
	color:$text-color-light;
    // Positioning context for the mobile navigation icon
    position: relative;
    a{
		color:$text-color-light;
    }
}

.site-title {
	#display: inline;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float:left;
    &,
    &:visited {
        color: $grey-color-light;
    }
}

.site-nav {
    
    line-height: 56px;
	width:100%;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-light;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
      //  &:not(:first-child) {
            margin-right: 20px;
       // }
    }

    @include media-query($on-palm) {
        position: relative;
        #top: 9px;
        #right: 30px;
        background-color: $header-back-color;
        border: 1px solid $header-back-color;
        
        border-radius: 5px;
        text-align: center;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            
            > svg {
                width: 18px;
                height: 15px;
                
                path {
                    fill: $grey-color-light;
                }
            }
        }

        .trigger {
            clear:both;
            display: none;
            width:100%;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            float:none;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            
        }
    }
}
.trigger {
            float:right;
           # display: inline;
        }


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    background-color: $footer-back-color;
    color:$grey-color-light;
    a{
		color:$text-color-light;
    }
}

.footer-heading {
    font-size: 15px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 12px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    a{
    decoration:none;
    color:$grey-color;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
