<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="sidebar">
		<div class="wrapper">
			{% include sidebar.html%}
		</div>
    </div>
   
    <div class="page-content">
      <div class="wrapper">
		  
        {{ content }}
        <p class="adp">Advertisement</p>
         <div class="ad">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- coder-responsive-ad-unit -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8023468202540314"
     data-ad-slot="9142765656"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>
      </div>
      <div class="mobile-sidebar">
		  <div class="wrapper">
			  <h3 class="mobile-sidebar-head">All Articles</h3>
			{% include sidebar.html%}
		</div>
		<hr/>
      </div>
      
    </div>
	
    {% include footer.html %}
    
  </body>

</html>
