<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
  
    <div class="page-content">
		
      <div class="wrapper">
		  
        {{ content }}
        <p class="adp">Advertisement</p>
         <div class="ad">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- blog-bottom-banner -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8023468202540314"
                 data-ad-slot="1054108052"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
	       </div>
      </div>
      
    </div>
	
    {% include footer.html %}
    
  </body>

</html>
