---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
	
  <article class="post-content">
    {{ content }}
    {% if page.source_file%}
    {% assign files= page.source_file | split:"," %}
        <p>download source code {% for source in files %}<a href="/assets/codes{{source}}"><i class="fa fa-file-code-o"></i> {{source | split:"/" | last}}</a>{% if forloop.last == false%}, {% endif %} {% endfor %}</p>
        {% endif %}
		<p class="tag-list">
			
				{% if page.tags%}<i class="fa fa-tags"></i> {%endif%}
				{% for tag in page.tags%}
					{% if tag %}{{tag | downcase}} {%if forloop.last == false %},{% endif%}{% endif %}
				{% endfor %}
		</p>
  </article>
  {% include share.html %}
  <div class="post-np-div">
		{% if page.previous %}
			<a class="post-np previous" href="{{page.previous.url}}" title="Previous: {{page.previous.title}}"><span class="fa fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i></span>{{page.previous.title}}</a>
		{% endif %}
		{% if page.next %}
			<a class="post-np next" href="{{page.next.url}}" title="Next: {{page.next.title}}">{{page.next.title}}<span class="fa fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i></span></a>
		{% endif %}
  </div>
  
{% include disqus.html %}
</div>
