---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
	
  <article class="post-content">
    {{ content }}
    {% if page.source_file%}
    {% assign files= page.source_file | split:"," %}
        <p>download source code {% for source in files %}<a href="/assets/codes{{source}}"><i class="fa fa-file-code-o"></i> {{source | split:"/" | last}}</a>{% if forloop.last == false%}, {% endif %} {% endfor %}</p>
        {% endif %}
		<p class="tag-list">
			
				{% if page.tags%}<i class="fa fa-tags"></i> {%endif%}
				{% for tag in page.tags%}
					{% if tag %}{{tag | downcase}} {%if forloop.last == false %},{% endif%}{% endif %}
				{% endfor %}
		</p>
  </article>
{% include disqus.html %}
</div>
